body{
    background-color:antiquewhite ;
}

.main{ 
    background-position: center;
    margin-top: 60px;
    display: flex;
}

    .img-perfume{height: 400px;
        
    }
    .img-cart{
        width: 15px;
        margin-right: 10px;
    }

.second{ height: 300px;
    background-color: white;
    padding: 50px;
    200px;
    
}

#btn-cart{color: antiquewhite;
    background-color: green;
    border: none ;
    border-radius: 5px;
    width: 200px;
    padding: 10px ;

}




